<!DOCTYPE HTML>
<head>
    <title>Add Movie</title>
</head>

<body>
    <form action="/add-movie" method="POST">
        Title: <input type="text" name="title"><br>
        Year: <input type="number" name="year"><br>
        Actors: <input type="text" name="actors"><br>
        Directors: <input type="text" name="directors"><br>
        Genres: <input type="text" name="genres"><br>
        Plot: <input type="text" name="plot"><br>
        Rank: <input type="number" name="rank"><br>
        Rating: <input type="number" name="rating"><br>      
        <button type="submit">Add Movie</button>
    </form>
</body>