<!DOCTYPE HTML>

<head>
    <title>Phuc</title>
</head>

<body>
    <button onclick="location.href='/add-movie'" type="button">Add</button> </td>
    <button type="button">Search</button> </td>
    <table border="1">
        <tr>
            <td><b>Year</b></td>
            <td><b>Title</b></td>
            <td><b>Actors</b></td>
            <td><b>Directors</b></td>
            <td><b>Genres</b></td>
            <td><b>Plot</b></td>
            <td><b>Rank</b></td>
            <td><b>Rating</b></td>
            <td><b>Function</b></td>
        </tr>
        {% for item in res.Items %}
        <tr>
            <td> {{ item.year }} </td>
            <td><a href="/movie/{{ item.title }}+{{ item.year }}"> {{ item.title }}</a></td>
            <td>
                {% for actor in item.info.actors %}
                {{ actor }}<br>
                {% endfor %}  
            </td>
            <td>
                {% for director in item.info.directors %}
                {{ director }}<br>
                {% endfor %}
                
            </td>
            <td>
                {% for genre in item.info.genres %}
                {{ genre }}<br>
                {% endfor %}
               
            </td>
            <td> {{ item.info.plot }} </td>
            <td> {{ item.info.rank }} </td>
            <td> {{ item.info.rating }} </td>
            <td>
                <a href="/edit-movie?title={{ item.title }}&year={{ item.year }}">
                    <button type="submit">Edit</button>
                </a>
                <a href="/delete-movie/{{ item.title }}+{{ item.year }}">
                    <button type="submit">Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>